.addpost {
    position: relative;
    z-index: 10;
    display: flex;
    @extend .background-blur;
    width: 100%;
    border-radius: 5px;
    padding: 5px 10px;
    width: 100%;

    &__avatar {
        min-height: 150px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        height: 36px;
        padding-bottom: 12px;

        & > p {
            padding: 5px 10px;
            font-weight: 700;
            line-height: 100%;
            border-radius: 15px;
            color: $color-light;
            background-color: $color-danger;
        }
    }

    &__input {
        flex: 1;
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        font-size: 1.5rem;
        resize: none;
        background: none;
        color: $color-light;
        outline: none;
    }

    &__form {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 0 10px;
    }

    &__repost-card {
        position: relative;
        width: 70%;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        padding: 5px 0;
        border-top: 1px solid $color-primary;

        &__icon {
            font-size: 1.5rem;
            color: $color-primary;
            cursor: pointer;
        }

        &-wrapper {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
}

.add-message {
    &__title {
        text-align: center;
        padding: 8px;
        @extend .fs-16-700;
        margin-bottom: 16px;
    }

    &__search {
        @include flex(row, center, center);
        border-bottom: 1px solid $color-primary;

        &>img {
            width: 18px;
            height: 18px;
            margin: 0 12px;
        }

        &>input {
            flex: 1;
            padding: 12px;
            border: none;
            border-radius: 5px;
            // font-size: 1.5rem;
            background: none;
            color: $color-light;
            outline: none;
            @extend .fs-15-500;
        }
    }

    &__receiver {
        &-list {
            @include flex(row, flex-start, flex-start);
            padding: 12px;
        }

        &-item {
            @include flex(row, center, center);
            width: fit-content;
            padding: 6px 6px 6px 12px;
            border: 1px solid $color-primary;
            border-radius: 12px;
        }

        &-name {
            @extend .fs-15-700;
            color: $color-light;
        }

        &-handle {
            @extend .fs-15-500;
            color: $color-light;
        }

        &-remove {
            margin-left: 12px;
            font-size: 10px;
            line-height: 10px;
            color: $color-danger;
            cursor: pointer;
        }
    }

    &__user {
        &-list {
            @include flex(column, flex-start, flex-start);
        }

        &-item {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 10px;
            cursor: pointer;

            &:hover {
                background-color: rgba($color-primary, 0.1);
            }
        }

        &-picture {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 12px;
        }

        &-name {
            @extend .fs-16-700;
            color: $color-light;
        }

        &-handle {
            @extend .fs-15-500;
            color: $color-light;
        }
    }

    &__wrapper {
        @include flex(column, flex-start, flex-start);
    }
}

.question-form {
    border: 1px solid $color-primary;
    border-radius: 16px;

    &__btn-delete {
        padding: 16px;
        text-align: center;
        color: $color-danger;

        &:hover {
            background-color: rgba($color-danger, 0.2);
        }
    }
}

.answers {
    @include flex(row, flex-start, flex-end);
    border-bottom: 1px solid $color-primary;
    padding: 12px;

    &__list {
        position: relative;
        @include flex(column, flex-start, flex-start, 10px);
        width: 100%;
    }
    &__item {
        position: relative;
        width: 100%;
        padding: 10px;
        border: 1px solid $color-primary;
        border-radius: 5px;
        color: $color-light;
        @include flex(column, flex-start, flex-start);
    }
    &__input {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        font-size: 1.5rem;
        resize: none;
        background: none;
        color: $color-light;
        outline: none;
    }
    &__btn-addAnswer {
        @include flex(row, center, center);
        width: 44px;
        height: 40px;
        border: 1px solid $color-primary;
        border-radius: 50%;
        margin-left: 10px;

        &>img {
            width: 20px;
            height: 20px;
        }
    }
}

