* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: 'Roboto', sans-serif;
    line-height: 125%;
    letter-spacing: 0.5px;
}

#root {
    position: relative;
    min-height: 100vh;
    color: $color-light;
    display: flex;
    justify-content: center;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.app {
    position: relative;
    @include flex(row, center, flex-start, 20px);
    width: 100%;
}

.picture-background {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100vh;
    object-fit: cover;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

main {
    display: flex;
    gap: 20px;
    flex: 1 1 auto;
    max-width: 600px;
    width: 100%;
}

.aside {
    position: sticky;
    top: 0;
    display: flex;
    height: 100%;
    max-height: 100vh;
}
.background-blur {
    background-color: rgba(#1C2733, 0.3);
    backdrop-filter: blur(8px);
    box-shadow: 0 0 10px 0px rgba($color-light, 0.5);
}