$color-primary: #1d9bf0;
$color-secondary: #ff6600;
$color-secondary-light: #ff9900;
$color-danger: #dc3545;

$color-success: #28a745;
$color-warning: #ffc107;
$color-info: #17a2b8;
$color-light: #f4f4f4;
$color-dark: #000;
$color-white: #fff;
$light-gray: #eff3f4;
$color-dark-gray: #6c757d;

